/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --color-one: #2c2219;
    --color-two: #6cc091;
    --color-three: #FFDD00;
}

html {
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

ul,
li,
ol {
    margin-left: 30px;
}

p {
    margin-left: 15px;
    text-align: justify;
}

.center {
    text-align: center;
}

.hide {
    display: none !important;
    background-color: red;
}

.bold {
    font-weight: bold;
}

.section-p {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* HEADER */

#header {
    background: var(--color-one);
    background-image: url("/images/header/tarragona.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container {
    height: 250px;
    padding: 0 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-titulo {
    color: #fff;
    text-align: center;
    background-color: rgba(125, 125, 125, 0.5);
    font-size: 30px;
    padding: 20px 0;
}

.logo {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.menu {
    margin-top: 35px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-size: 12px;
}

.show-menu,
.hide-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.show-menu {
    margin-top: 35px;
    order: 1;
}

.menu a:hover,
.show-menu:hover,
.hide-menu:hover {
    color: var(--color-two);
}

#check {
    display: none;
}

.dropdown-content {
    margin: 0px;
    padding: 0px;
    position: absolute;
    text-align: center;
    overflow: auto;
    z-index: 101;
}

#menuTramitesExt a {
    padding: 5px;
    margin-left: 115px;
    text-decoration: none;
    display: block;
}

#menuCiudadanosCo a {
    padding: 5px;
    margin-left: 342px;
    text-decoration: none;
    display: block;
}

/* INICIO */
.titulo-inicio {
    padding: 0 10px;
    margin: 40px 0;
}

.section-child {
    max-width: 200px;
}

.section-1,
.section-2 {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}

.section-1 {
    margin-top: 20px;
}

.section-2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-titulo {
    font-size: 18px;
    text-align: center;
}

.section-text {
    font-size: 11px;
    text-align: center;
}

.section-titulo-cobramos {
    font-size: 17px;
}

.img-facilidades {
    width: 60px;
    height: 60px;
}

.img-atencion {
    width: 60px;
    height: 60px;
}

.img-primera {
    width: 60px;
    height: 60px;
}

.img-cobramos {
    width: 60px;
    height: 60px;
}

.img-precio {
    width: 60px;
    height: 60px;
}

.img-contacto {
    width: 60px;
    height: 60px;
}

/* SERVICIOS */
.section-familia-1,
.section-familia-2,
.section-laboral-1,
.section-laboral-2,
.section-civil-1,
.section-civil-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.section-familia-2 {
    margin-top: 20px;
}

.section-civil-2 {
    margin-bottom: 30px;
}

.section-familia-text,
.section-laboral-text,
.section-civil-text {
    font-weight: bold;
}

.titulo-familia,
.titulo-laboral,
.titulo-civil {
    margin: 30px 30px;
}

.familia-separaciones {
    padding: 0 15px;
}

.img-familia-separaciones {
    width: 260px;
    height: 180px;
}

.img-familia-guarda {
    width: 260px;
    height: 180px;
}

.img-familia-medidas {
    width: 260px;
    height: 180px;
}

.img-familia-pension {
    width: 260px;
    height: 180px;
}

.img-familia-modificacion {
    width: 260px;
    height: 180px;
}

.img-familia-filiacion {
    width: 260px;
    height: 180px;
}

.img-laboral-improcedente {
    width: 260px;
    height: 180px;
}

.img-laboral-disciplinario {
    width: 260px;
    height: 180px;
}

.img-laboral-objetivo {
    width: 260px;
    height: 180px;
}

.img-laboral-nulo {
    width: 260px;
    height: 180px;
}

.img-laboral-acoso {
    width: 260px;
    height: 180px;
}

.img-laboral-reclamacion {
    width: 260px;
    height: 180px;
}

.img-civil-improcedente {
    width: 260px;
    height: 180px;
}

.img-civil-disciplinario {
    width: 260px;
    height: 180px;
}

.img-civil-objetivo {
    width: 260px;
    height: 180px;
}

.img-civil-nulo {
    width: 260px;
    height: 180px;
}

.img-civil-acoso {
    width: 260px;
    height: 180px;
}

.img-civil-reclamacion {
    width: 260px;
    height: 180px;
}

.section-servicio-texto {
    margin: 30px;
    padding: 0 15px;
    font-size: 20px;
}

.title-page {
    margin: 30px;
    padding: 0 15px;
}

.image-pages {
    padding-top: 15px;
    width: 580px;
    height: 395px;
}

.image-pages-i {
    padding-top: 15px;
    width: 650px;
    height: 220px;
}

.li-number {
    padding-top: 20px;
}

/* FOOTER */
.container-contact {
    padding: 13px;
    background: var(--color-one);
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}

.contact-ubication {
    text-align: center;
}

.contact-phone {
    text-align: center;
    margin-top: 8px;
}

.contact-date {
    text-align: center;
    margin-top: 6px;
}

.img-ubication {
    width: 60px;
    height: 60px;
}

.img-phone {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
}

.img-date {
    margin-bottom: 9px;
    width: 45px;
    height: 45px;
}

.text-footer {
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.container-footer {
    margin-top: 2px;
    font-size: 13px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CONTACTO */
.section-contact {
    margin: 30px 30px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.div-contact {
    margin-bottom: 25px;
}

.div-details,
.div-scheduler,
.div-social {
    margin-bottom: 20px;
}

.div-details-title,
.div-scheduler-title,
.div-social-title {
    margin-top: 20px;
    display: flex;
}

.div-details-body,
.div-scheduler-body,
.div-social-body {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

.text-form {
    width: 80px;
}

.section-form-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-form-2 {
    width: 100%;
    display: flex;
}

.div-meet-form {
    padding-top: 20px;
}

.section-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.section-contact-tel-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.label-form {
    padding-top: 5px;
}

.input-form-contact,
.input-form-email,
.input-form-tel,
.input-form-name,
.input-form {
    width: 100%;
    height: 25px;
}

.input-form-message {
    height: 100px;
}

.input-form {
    width: 500px;
}

.section-form-2 {
    margin-top: 10px;
}

.button-form {
    width: 100%;
    height: 35px;
}

.button-form:active {
    transform: scale(0.9);
}

/* RESPONSIVE */
@media(min-height:980px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media(max-width:768px) {

    /* HEADER */
    .header-container {
        text-align: center;
    }

    .show-menu,
    .hide-menu {
        display: block;
    }

    .menu {
        margin-top: 0px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-one);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.5s;
    }

    .menu a {
        display: block;
        padding: 20px;
        font-size: 15px;
    }

    .hide-menu {
        position: absolute;
        top: 33px;
        right: 12px;
    }

    #check:checked~.menu {
        right: 0;
    }

    #menuTramitesExt,
    #menuCiudadanosCo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #menuTramitesExt a {
        padding: 5px;
        margin-left: 0px;
        margin-top: 0px;
    }

    #menuCiudadanosCo a {
        padding: 5px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .dropdown-content {
        padding-top: 1px;
        margin-top: 1px;
    }

    /* INICIO */
    .section-child {
        max-width: 800px;
        margin-top: 20px;
    }

    .section-1,
    .section-2 {
        padding: 0 80px;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-titulo-cobramos {
        font-size: 18px;
    }

    /* SERVICIOS */
    .section-familia-1,
    .section-familia-2,
    .section-laboral-1,
    .section-laboral-2,
    .section-civil-1,
    .section-civil-2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    /**/

    ul,
    li,
    ol {
        margin-left: 2px;
    }

    p {
        margin-left: 5px;
        text-align: justify;
    }

    .section-p {
        margin-left: 30px;
        margin-right: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image-pages {
        padding-top: 15px;
        width: 300px;
        /*1.46*/
        height: 205px;
    }

    .image-pages-i {
        padding-top: 15px;
        width: 300px;
        /*2.95*/
        height: 100px;
    }

    /**/

    /* CONTACT*/
    .section-contact {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .section-name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-contact-tel-email {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    /* FOOTER */
    .container-footer {
        font-size: 8px;
        text-align: center;
    }

    .text-footer {
        font-size: 8px;
    }

    .img-ubication {
        width: 40px;
        height: 40px;
    }

    .img-phone {
        width: 26px;
        height: 26px;
        margin-bottom: 6px;
    }

    .img-date {
        width: 28px;
        height: 28px;
        margin-bottom: 6px;
    }
}