<div class="header-container">
    <img class="logo" src="/images/logo.png" alt="">
    <input type="checkbox" id="check">
    <label for="check" class="show-menu">
        &#8801
    </label>
    <nav class="menu">
        <a href="/index.html">Inicio</a>
        <a href="/pages/servicios.html">Servicio</a>
        <a href="#" onclick="toggleMenu('menuTramitesExt','aMenuCiudadanos,aMenuContacto');">
            Especialidad Extranjer&iacute;a
            <div id="menuTramitesExt" class="dropdown-content hide center">
                <a href="/pages/residenciaTrabajo.html">Residencia de Trabajo Espa&ntilde;a</a>
                <a href="/pages/residenciaArraigo.html">Residencia por Arraigo</a>
                <a href="/pages/renovacion.html">Renovación de Tarjeta de Residencia</a>
            </div>
        </a>
        <a href="#" id='aMenuCiudadanos' onclick="toggleMenu('menuCiudadanosCo','aMenuContacto');">
            Ciudadanos Comunitarios
            <div id="menuCiudadanosCo" class="dropdown-content hide center">
                <a href="/pages/nacionalidad.html">Nacionalidad</a>
                <a href="/pages/residenciaFamiliar.html">Residencia Familiar Comunitario</a>
            </div>
        </a>
        <a href="/pages/contacto.html" id='aMenuContacto'>Contacto</a>
        <label for="check" class="hide-menu">
            &#215
        </label>
    </nav>
</div>
<div class="header-titulo">
    <h3>DESPACHO DE ABOGADOS ESPECIALISTAS EN EXTRANJERIA</h3>
</div>